body {
    margin: 1em;
}

.active a {
    color: red;
    font-weight: bold;
}

pre {
    width: 80%;
}

.color-dot {
  -moz-border-radius: 99px;
  -webkit-border-radius: 99px;
  border-radius: 99px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.color-dot.critical {
  background-color: #e74c3c;
}
.color-dot.major {
  background-color: #e67e22;
}
.color-dot.minor {
  background-color: #f1c40f;
}
.color-dot.none {
  background-color: #2ecc71;
}

.uomcontent .plotly svg {
    width: auto;
}